h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.7;
  color: #454545;
  overflow: hidden;
}

.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1920px) {
  .logo {
    font-size: 32px;
  }
}

.logo__img {
  margin-right: 5px;
}

.header {
  position: absolute;
  width: 100%;
  padding: 20px 20px;
  z-index: 100;
}
@media screen and (min-width: 1366px) {
  .header {
    padding: 50px 55px;
  }
}

@media screen and (min-width: 1366px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1366px) {
  .header__logo {
    margin-right: 197px;
  }
}

.site-nav {
  list-style: none;
}
@media screen and (min-width: 1366px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1366px) {
  .site-nav__item:not(:last-child) {
    margin-right: 65px;
  }
}

.site-nav__link {
  display: block;
  font-size: 24px;
  line-height: 1.9;
  color: inherit;
  text-decoration: none;
  -webkit-transition: background 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#1B18F9), color-stop(46.35%, #1B18F9), to(#E146AD));
  background: linear-gradient(180deg, #1B18F9 0%, #1B18F9 46.35%, #E146AD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media screen and (min-width: 1920px) {
  .site-nav__link {
    font-size: 32px;
  }
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.hero__container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-right-graphic1.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 1440px) {
  .hero__container::before {
    height: 80%;
  }
}
.hero__container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-left-graphic1.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero__content {
  padding-top: 200px;
  padding-left: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .hero__content {
    width: 50%;
  }
}
@media screen and (min-width: 1366px) {
  .hero__content {
    width: 40%;
    padding-top: 150px;
    padding-left: 150px;
  }
}

.hero__title {
  font-size: 24px;
  line-height: 1.28;
  background: -webkit-gradient(linear, left top, left bottom, from(#1B18F9), color-stop(46.35%, #1B18F9), to(#E146AD));
  background: linear-gradient(180deg, #1B18F9 0%, #1B18F9 46.35%, #E146AD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media screen and (min-width: 1366px) {
  .hero__title {
    font-size: 56px;
  }
}
@media screen and (min-width: 1920px) {
  .hero__title {
    font-size: 72px;
  }
}

.hero__text {
  display: none;
  font-size: 20px;
  line-height: 1.7;
}
@media screen and (min-width: 1366px) {
  .hero__text {
    display: block;
  }
}
@media screen and (min-width: 1920px) {
  .hero__text {
    font-size: 32px;
  }
}

@media screen and (min-width: 1366px) {
  .hero__wrapper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__btn {
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 36px;
  border-radius: 18px;
  cursor: pointer;
  border-style: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.46;
  background: radial-gradient(255.8% 457.4% at 88.45% 24.64%, #C27FCF 0%, #0368FF 100%);
  background-position: top;
  background-size: 1px;
  color: #ffffff;
  -webkit-transition: background 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background: #454545;
}
@media screen and (max-width: 1365px) {
  .hero__btn {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1366px) {
  .hero__btn {
    margin-right: 25px;
  }
}
@media screen and (min-width: 1920px) {
  .hero__btn {
    font-size: 32px;
  }
}

.hero__link {
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.29;
  background: -webkit-gradient(linear, left top, left bottom, from(#1B18F9), color-stop(46.35%, #1B18F9), to(#E146AD));
  background: linear-gradient(180deg, #1B18F9 0%, #1B18F9 46.35%, #E146AD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-transition: background 250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: background 250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.hero__link:hover, .hero__link:focus {
  background: #454545;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media screen and (min-width: 1920px) {
  .hero__link {
    font-size: 32px;
  }
}

.hero__img {
  margin-right: 10px;
  -webkit-transition: -webkit-filter 250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-filter 250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: filter 250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: filter 250ms cubic-bezier(0.19, 1, 0.22, 1), -webkit-filter 250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.hero__link:hover .hero__img,
.hero__img .hero__link:focus {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.crab {
  position: absolute;
  top: 25%;
  z-index: 1;
  opacity: 1;
  -webkit-transform: translate(-30%, 0) rotate(0deg);
          transform: translate(-30%, 0) rotate(0deg);
  -webkit-animation: crabAnim 15s ease-in-out 3s infinite;
          animation: crabAnim 15s ease-in-out 3s infinite;
}

@-webkit-keyframes crabAnim {
  0% {
    -webkit-transform: translate(-30%, 0) rotate(0deg);
            transform: translate(-30%, 0) rotate(0deg);
    opacity: 1;
  }
  10% {
    -webkit-transform: translate(-30%, 0) rotate(45deg);
            transform: translate(-30%, 0) rotate(45deg);
    opacity: 1;
  }
  20% {
    -webkit-transform: translate(-30%, 0) rotate(30deg);
            transform: translate(-30%, 0) rotate(30deg);
    opacity: 1;
  }
  30% {
    -webkit-transform: translate(-30%, 0) rotate(70deg);
            transform: translate(-30%, 0) rotate(70deg);
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-30%, 0) rotate(55deg);
            transform: translate(-30%, 0) rotate(55deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(-30%, 0) rotate(90deg);
            transform: translate(-30%, 0) rotate(90deg);
    opacity: 1;
  }
  55% {
    -webkit-transform: translate(-30%, -100%) rotate(65deg);
            transform: translate(-30%, -100%) rotate(65deg);
    opacity: 1;
  }
  60% {
    -webkit-transform: translate(-30%, -200%) rotate(90deg);
            transform: translate(-30%, -200%) rotate(90deg);
    opacity: 1;
  }
  65% {
    -webkit-transform: translate(-30%, -300%) rotate(65deg);
            transform: translate(-30%, -300%) rotate(65deg);
    opacity: 1;
  }
  70% {
    -webkit-transform: translate(-30%, -400%) rotate(90deg);
            transform: translate(-30%, -400%) rotate(90deg);
    opacity: 1;
  }
  75% {
    -webkit-transform: translate(-30%, -1000%) rotate(65deg);
            transform: translate(-30%, -1000%) rotate(65deg);
    opacity: 1;
  }
  76% {
    -webkit-transform: translate(-1000%, -1000%) rotate(0deg);
            transform: translate(-1000%, -1000%) rotate(0deg);
    opacity: 0;
  }
  77% {
    -webkit-transform: translate(-100%, 0) rotate(0deg);
            transform: translate(-100%, 0) rotate(0deg);
    opacity: 1;
  }
  83% {
    -webkit-transform: translate(-75%, 0) rotate(0deg);
            transform: translate(-75%, 0) rotate(0deg);
    opacity: 1;
  }
  89% {
    -webkit-transform: translate(-60%, 0) rotate(0deg);
            transform: translate(-60%, 0) rotate(0deg);
    opacity: 1;
  }
  95% {
    -webkit-transform: translate(-45%, 0) rotate(0deg);
            transform: translate(-45%, 0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-30%, 0) rotate(0deg);
            transform: translate(-30%, 0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes crabAnim {
  0% {
    -webkit-transform: translate(-30%, 0) rotate(0deg);
            transform: translate(-30%, 0) rotate(0deg);
    opacity: 1;
  }
  10% {
    -webkit-transform: translate(-30%, 0) rotate(45deg);
            transform: translate(-30%, 0) rotate(45deg);
    opacity: 1;
  }
  20% {
    -webkit-transform: translate(-30%, 0) rotate(30deg);
            transform: translate(-30%, 0) rotate(30deg);
    opacity: 1;
  }
  30% {
    -webkit-transform: translate(-30%, 0) rotate(70deg);
            transform: translate(-30%, 0) rotate(70deg);
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-30%, 0) rotate(55deg);
            transform: translate(-30%, 0) rotate(55deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(-30%, 0) rotate(90deg);
            transform: translate(-30%, 0) rotate(90deg);
    opacity: 1;
  }
  55% {
    -webkit-transform: translate(-30%, -100%) rotate(65deg);
            transform: translate(-30%, -100%) rotate(65deg);
    opacity: 1;
  }
  60% {
    -webkit-transform: translate(-30%, -200%) rotate(90deg);
            transform: translate(-30%, -200%) rotate(90deg);
    opacity: 1;
  }
  65% {
    -webkit-transform: translate(-30%, -300%) rotate(65deg);
            transform: translate(-30%, -300%) rotate(65deg);
    opacity: 1;
  }
  70% {
    -webkit-transform: translate(-30%, -400%) rotate(90deg);
            transform: translate(-30%, -400%) rotate(90deg);
    opacity: 1;
  }
  75% {
    -webkit-transform: translate(-30%, -1000%) rotate(65deg);
            transform: translate(-30%, -1000%) rotate(65deg);
    opacity: 1;
  }
  76% {
    -webkit-transform: translate(-1000%, -1000%) rotate(0deg);
            transform: translate(-1000%, -1000%) rotate(0deg);
    opacity: 0;
  }
  77% {
    -webkit-transform: translate(-100%, 0) rotate(0deg);
            transform: translate(-100%, 0) rotate(0deg);
    opacity: 1;
  }
  83% {
    -webkit-transform: translate(-75%, 0) rotate(0deg);
            transform: translate(-75%, 0) rotate(0deg);
    opacity: 1;
  }
  89% {
    -webkit-transform: translate(-60%, 0) rotate(0deg);
            transform: translate(-60%, 0) rotate(0deg);
    opacity: 1;
  }
  95% {
    -webkit-transform: translate(-45%, 0) rotate(0deg);
            transform: translate(-45%, 0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-30%, 0) rotate(0deg);
            transform: translate(-30%, 0) rotate(0deg);
    opacity: 1;
  }
}
.octopus {
  position: absolute;
  bottom: 20px;
  right: 0;
}
@media screen and (min-width: 1366px) {
  .octopus {
    bottom: 20px;
    right: 20%;
  }
}
@media screen and (min-width: 1440px) {
  .octopus {
    right: 10%;
  }
}

.octopus__wrapper {
  position: relative;
}

.octopus__text {
  position: absolute;
  top: 1%;
  text-align: center;
  border-bottom: 2px dotted #454545;
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 1365px) {
  .octopus__text {
    right: 10%;
  }
}
@media screen and (min-width: 1366px) {
  .octopus__text {
    top: 1%;
    left: -10%;
  }
}

.octopus__wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -250%) scale(1);
          transform: translate(-50%, -250%) scale(1);
}

.octopus.touch .octopus__wrapper::after {
  -webkit-animation: octopusAnim 5s cubic-bezier(0.98, 0.08, 0, 0.73) 1;
          animation: octopusAnim 5s cubic-bezier(0.98, 0.08, 0, 0.73) 1;
}

@-webkit-keyframes octopusAnim {
  0% {
    -webkit-transform: translate(-50%, -250%) scale(1);
            transform: translate(-50%, -250%) scale(1);
    z-index: -1;
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    z-index: -1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(100000%);
            transform: translate(-50%, -50%) scale(100000%);
    z-index: 1500;
  }
}

@keyframes octopusAnim {
  0% {
    -webkit-transform: translate(-50%, -250%) scale(1);
            transform: translate(-50%, -250%) scale(1);
    z-index: -1;
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    z-index: -1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(100000%);
            transform: translate(-50%, -50%) scale(100000%);
    z-index: 1500;
  }
}
.fish {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 225px;
  height: 130px;
}

.fish__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0) rotate(0);
          transform: translate(0) rotate(0);
}

.fish:hover .fish__wrapper {
  -webkit-animation: fishWrapperAnim 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 backwards;
          animation: fishWrapperAnim 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 backwards;
  -webkit-transform: translate(-100%) rotate(120deg);
          transform: translate(-100%) rotate(120deg);
}

@-webkit-keyframes fishWrapperAnim {
  0% {
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  25% {
    -webkit-transform: translate(-100%) rotate(0);
            transform: translate(-100%) rotate(0);
  }
  50% {
    -webkit-transform: translate(-100%) rotate(120deg);
            transform: translate(-100%) rotate(120deg);
  }
  75% {
    -webkit-transform: translate(-100%) rotate(120deg);
            transform: translate(-100%) rotate(120deg);
  }
  100% {
    -webkit-transform: translate(-100%) rotate(120deg);
            transform: translate(-100%) rotate(120deg);
  }
}

@keyframes fishWrapperAnim {
  0% {
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }
  25% {
    -webkit-transform: translate(-100%) rotate(0);
            transform: translate(-100%) rotate(0);
  }
  50% {
    -webkit-transform: translate(-100%) rotate(120deg);
            transform: translate(-100%) rotate(120deg);
  }
  75% {
    -webkit-transform: translate(-100%) rotate(120deg);
            transform: translate(-100%) rotate(120deg);
  }
  100% {
    -webkit-transform: translate(-100%) rotate(120deg);
            transform: translate(-100%) rotate(120deg);
  }
}
.fish__top {
  position: relative;
  width: 100%;
  height: 33%;
}

.fish__icon {
  position: absolute;
}

.fish__icon__1 {
  top: 0;
  left: 0;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-animation: fishAnim1 3s ease-in-out infinite both;
          animation: fishAnim1 3s ease-in-out infinite both;
}

@-webkit-keyframes fishAnim1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes fishAnim1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
.fish__icon__2 {
  top: 5%;
  left: 20%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-animation: fishAnim2 2s ease-in-out infinite both;
          animation: fishAnim2 2s ease-in-out infinite both;
}

@-webkit-keyframes fishAnim2 {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  25% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes fishAnim2 {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  25% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}
.fish__icon__3 {
  top: 20%;
  left: 40%;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-animation: fishAnim3 3s ease-in-out infinite both;
          animation: fishAnim3 3s ease-in-out infinite both;
}

@-webkit-keyframes fishAnim3 {
  0% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  25% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  50% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  75% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  100% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}

@keyframes fishAnim3 {
  0% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  25% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  50% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  75% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  100% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}
.fish__icon__4 {
  top: 25%;
  left: 60%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: fishAnim4 4s ease-in-out infinite both;
          animation: fishAnim4 4s ease-in-out infinite both;
}

@-webkit-keyframes fishAnim4 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes fishAnim4 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.fish__middle {
  position: relative;
  width: 100%;
  height: 33%;
}

.fish__icon__5 {
  top: 0;
  left: 20%;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  -webkit-animation: fishAnim5 3s ease-in-out infinite both;
          animation: fishAnim5 3s ease-in-out infinite both;
}

@-webkit-keyframes fishAnim5 {
  0% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  75% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
}

@keyframes fishAnim5 {
  0% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  75% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
}
.fish__icon__6 {
  top: 5%;
  left: 40%;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-animation: fishAnim6 2s ease-in-out infinite both;
          animation: fishAnim6 2s ease-in-out infinite both;
}

@-webkit-keyframes fishAnim6 {
  0% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  25% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  50% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  75% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  100% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}

@keyframes fishAnim6 {
  0% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  25% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  50% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  75% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  100% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}
.fish__icon__7 {
  top: 15%;
  left: 60%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-animation: fishAnim7 3s ease-in-out infinite both;
          animation: fishAnim7 3s ease-in-out infinite both;
}

@-webkit-keyframes fishAnim7 {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  25% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes fishAnim7 {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  25% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}
.fish__bottom {
  position: relative;
  width: 100%;
  height: 33%;
}

.fish__icon__8 {
  top: 0;
  left: 40%;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  -webkit-animation: fishAnim8 2s ease-in-out infinite both;
          animation: fishAnim8 2s ease-in-out infinite both;
}

@-webkit-keyframes fishAnim8 {
  0% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  75% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
}

@keyframes fishAnim8 {
  0% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  75% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
}
.fish__icon__9 {
  top: 10%;
  left: 60%;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-animation: fishAnim9 4s ease-in-out infinite both;
          animation: fishAnim9 4s ease-in-out infinite both;
}

@-webkit-keyframes fishAnim9 {
  0% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  25% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  50% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  75% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  100% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}

@keyframes fishAnim9 {
  0% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  25% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  50% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  75% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  100% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}
.fish__icon__10 {
  top: 10%;
  left: 80%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-animation: fishAnim10 4s ease-in-out infinite both;
          animation: fishAnim10 4s ease-in-out infinite both;
}

@-webkit-keyframes fishAnim10 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes fishAnim10 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
.whale {
  display: none;
}
@media screen and (min-width: 1366px) {
  .whale {
    position: absolute;
    top: 20%;
    right: -20%;
    display: block;
  }
}
@media screen and (min-width: 1440px) {
  .whale {
    right: -15%;
  }
}

.whale__wrapper {
  position: relative;
}

.whale__wrapper:before {
  content: "";
  position: absolute;
  bottom: 40%;
  left: -1%;
  z-index: -1;
  width: 20px;
  height: 20px;
  border: 3px solid rgb(13, 141, 192);
  border-radius: 50%;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  opacity: 1;
  -webkit-animation: whaleAnim 7s cubic-bezier(0.31, 0.31, 0.75, 0.11) infinite;
          animation: whaleAnim 7s cubic-bezier(0.31, 0.31, 0.75, 0.11) infinite;
}

.whale__wrapper:after {
  content: "";
  position: absolute;
  bottom: 40%;
  left: -1%;
  z-index: -1;
  width: 20px;
  height: 20px;
  border: 3px solid rgb(15, 155, 211);
  border-radius: 50%;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  opacity: 1;
  -webkit-animation: whaleAnim 3s cubic-bezier(0.31, 0.31, 0.75, 0.11) infinite;
          animation: whaleAnim 3s cubic-bezier(0.31, 0.31, 0.75, 0.11) infinite;
}

@-webkit-keyframes whaleAnim {
  0% {
    -webkit-transform: translateY(0) scale(0);
            transform: translateY(0) scale(0);
    opacity: 1;
  }
  90% {
    -webkit-transform: translateY(-500%) scale(1);
            transform: translateY(-500%) scale(1);
    opacity: 1;
  }
  90% {
    -webkit-transform: translateY(-500%) scale(1.1);
            transform: translateY(-500%) scale(1.1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(-500%) scale(1.25);
            transform: translateY(-500%) scale(1.25);
    opacity: 0;
  }
}

@keyframes whaleAnim {
  0% {
    -webkit-transform: translateY(0) scale(0);
            transform: translateY(0) scale(0);
    opacity: 1;
  }
  90% {
    -webkit-transform: translateY(-500%) scale(1);
            transform: translateY(-500%) scale(1);
    opacity: 1;
  }
  90% {
    -webkit-transform: translateY(-500%) scale(1.1);
            transform: translateY(-500%) scale(1.1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(-500%) scale(1.25);
            transform: translateY(-500%) scale(1.25);
    opacity: 0;
  }
}
.jellyfish {
  position: absolute;
  top: 10%;
  right: 30%;
  -webkit-transform: translate(0, 0) scale(0.5);
          transform: translate(0, 0) scale(0.5);
  opacity: 1;
  -webkit-animation: jellyfishAnim 8s cubic-bezier(0.98, 0.08, 0, 0.73) 0s infinite;
          animation: jellyfishAnim 8s cubic-bezier(0.98, 0.08, 0, 0.73) 0s infinite;
}

@-webkit-keyframes jellyfishAnim {
  0% {
    -webkit-transform: translate(0, 0) scale(0.5);
            transform: translate(0, 0) scale(0.5);
    opacity: 1;
  }
  75% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  76% {
    -webkit-transform: translate(-1000%, -1000%) scale(1);
            transform: translate(-1000%, -1000%) scale(1);
    opacity: 0;
  }
  77% {
    -webkit-transform: translate(1000%, 1000%) scale(1);
            transform: translate(1000%, 1000%) scale(1);
    opacity: 0;
  }
  80% {
    -webkit-transform: translate(100%, 100%) scale(0.5);
            transform: translate(100%, 100%) scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) scale(0.5);
            transform: translate(0, 0) scale(0.5);
    opacity: 1;
  }
}

@keyframes jellyfishAnim {
  0% {
    -webkit-transform: translate(0, 0) scale(0.5);
            transform: translate(0, 0) scale(0.5);
    opacity: 1;
  }
  75% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  76% {
    -webkit-transform: translate(-1000%, -1000%) scale(1);
            transform: translate(-1000%, -1000%) scale(1);
    opacity: 0;
  }
  77% {
    -webkit-transform: translate(1000%, 1000%) scale(1);
            transform: translate(1000%, 1000%) scale(1);
    opacity: 0;
  }
  80% {
    -webkit-transform: translate(100%, 100%) scale(0.5);
            transform: translate(100%, 100%) scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) scale(0.5);
            transform: translate(0, 0) scale(0.5);
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */