.logo{
        display: inline-flex;
            align-items: center;

        font-weight: 600;
        font-size: 24px;
        line-height: 1.08;
        color: inherit;
    text-decoration: none;

    @media screen and (min-width: 1920px) {
            font-size: 32px;
        }
}
.logo__img{
    margin-right: 5px;
}