$primary-text-color: #454545;
$secondary-text-color: #ffffff;

$accent-color: linear-gradient(180deg,#1B18F9 0%,#1B18F9 46.35%,#E146AD 100%);

$btn-bg-color: radial-gradient(255.8% 457.4% at 88.45% 24.64%, #C27FCF 0%, #0368FF 100%);